/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.enemy {
  fill: #238194;
}

.hero {
  fill: #e34444;
}

.update {
  fill: #333;
}

.exit {
  fill: red;
}


.scoreboard{
	font-family: Helvetica;
	font-size: 1em;
	margin-left: 50%;
	margin-top: 50px;
}

.gameCanvas{
	background-color: #bfb5b4;
}

html {
	background-color: #e0e0dc;
}